Flask
PyPDF2
python-docx
python-pptx
spacy
nltk
requests
groq
pinecone-client
langchain-pinecone
rank-bm25
sentence-transformers
numpy
openai
chardet
python-dotenv
deep-translator
langdetect
SpeechRecognition
python -m spacy download en_core_web_sm